<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ .Name }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <a href="/">← Retour</a>

    <h1>{{ .Name }}</h1>

    <img src="{{ .Image }}" class="artist-image">

    <p><strong>Année de création :</strong> {{ .CreationDate }}</p>
    <p><strong>Premier album :</strong> {{ .FirstAlbum }}</p>

    <h3>Membres</h3>
    <ul>
        {{ range .Members }}
            <li>{{ . }}</li>
        {{ end }}
    </ul>
</div>
{{ if .SpotifyID }}
<h2>🎧 Écouter</h2>

<iframe
  src="https://open.spotify.com/embed/artist/{{ .SpotifyID }}"
  width="100%"
  height="380"
  frameborder="0"
  allow="encrypted-media"
  loading="lazy">
</iframe>
{{ end }}


</body>
</html>